<div class="well">
  <h2>Acesso ao Painel Administrativo</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {:class => 'form'}) do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, class: 'form-control', placeholder: "Endereço de e-mail", autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off", placeholder: "Senha", class: 'form-control' %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Entrar", class: "btn btn-success col-md-12" %>
    </div>
  <% end %>

  <%= render "admin/admin/shared/links" %>
</div>