<!DOCTYPE html>
<html>
<head>
  <title>Painel Administrativo - Portal Candói</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container admin_auth">
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<div class="col-md-12"><%= flash_message %></div>
				<div class="col-md-12">
					<%= yield %>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
