<div class="well">
	<h2>Esqueceu sua Senha?</h2>

	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "form" }) do |f| %>
	  <%= devise_error_messages! %>

	  <div class="field">
	    <%= f.label :email, "Email*" %><br />
	    <%= f.email_field :email, autofocus: true, class: "form-control" %>
	  </div>

		<br>
	  <div class="actions">
	    <%= f.submit "Enviar instruções por email", class: "btn btn-default" %>
	  </div>
	<% end %>

	<br>
	<%= render "admin/admin/shared/links" %>
</div>